.file-name
{
    width: 100px;
    font-size: 13px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-container
{
    height: 200px;
    overflow-y: scroll;
}

input[type=file]
{
    /* display: none; */
}
.select-file
{

}

.file-name
{
    text-align: center;
}

.view-file
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-file .close
{
    position: inherit;
    right: 100px;
    top:0;
    border: none;
    color: #484848;
    font-size: 25px;
    padding: 0 7px;
    margin: 10px;
}

.view-file .file
{
    width: 70%;
    height: 90%;
    background: #fff;
    overflow-y: scroll;
}

.view-file .file img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


input[type=checkbox]
{
    position: absolute;
    top:5px;
    left: 5px;
}

pre {
    font-family: 'Courier New', monospace;
    background-color: #f7f7f7;
    padding: 10px;
    border: 1px solid #ccc;
    white-space: pre-wrap; 
  }